{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" /> 
    {# Script ajouté dans le block stylesheet car jQuery doit être dans la balise <head> #}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script> 
{% endblock %}

{% block body %}
    <div id="app">
        <!-- MENU-->
        <nav role="navigation">
            <p class="title">Memory</p>
            <button class="start-button" class="btn-large waves-effect waves-light orange">Démarrer</button>
            <p class="score">Score: <span class=""></span>/18 paires</p>
            <p class="timer">Temps restant: <span></span></p>
        </nav>
        <div class="columns">
            <!-- MEILLEURS SCORES -->
            <div class="high-scores">
                <p>Meilleurs temps</p>
                <ul class="scores"></ul>  
            </div>

            <!-- PLATEAU DE JEU-->
            <ul class="board"></ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/api.js') }}"></script>
    <script src="{{ asset('assets/js/ui.js') }}"></script>
    <script src="{{ asset('assets/js/timer.js') }}"></script>
    <script src="{{ asset('assets/js/cards.js') }}"></script>
{% endblock %}